---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=822dcdbcaa7aed363c501e5b70bd263c&q=Berlin,%20DE&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":13.39,"lat":52.52},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":28.69,"pressure":1025,"humidity":28,"temp_min":26.67,"temp_max":30.56},"visibility":10000,"wind":{"speed":1.5},"clouds":{"all":0},"dt":1566570101,"sys":{"type":1,"id":1275,"message":0.0092,"country":"DE","sunrise":1566532905,"sunset":1566584222},"timezone":7200,"id":2950159,"name":"Berlin","cod":200}'
  recorded_at: Fri, 23 Aug 2019 14:23:17 GMT
recorded_with: VCR 2.9.3
