---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=822dcdbcaa7aed363c501e5b70bd263c&id=524901&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":37.62,"lat":55.75},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":22.2,"pressure":1027,"humidity":46,"temp_min":22,"temp_max":23},"visibility":10000,"wind":{"speed":3,"deg":310},"clouds":{"all":0},"dt":1566570183,"sys":{"type":1,"id":9029,"message":0.0327,"country":"RU","sunrise":1566526567,"sunset":1566578931},"timezone":10800,"id":524901,"name":"Moscow","cod":200}'
  recorded_at: Fri, 23 Aug 2019 14:23:17 GMT
recorded_with: VCR 2.9.3
