---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=822dcdbcaa7aed363c501e5b70bd263c&lat=48.140938&lon=11.582005&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":11.58,"lat":48.14},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":21.8,"pressure":1025,"humidity":73,"temp_min":19,"temp_max":24},"visibility":10000,"wind":{"speed":3.6,"deg":80},"clouds":{"all":75},"dt":1566570181,"sys":{"type":1,"id":1307,"message":0.0076,"country":"DE","sunrise":1566533919,"sunset":1566584076},"timezone":7200,"id":2867714,"name":"Muenchen","cod":200}'
  recorded_at: Fri, 23 Aug 2019 14:23:17 GMT
recorded_with: VCR 2.9.3
