---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=822dcdbcaa7aed363c501e5b70bd263c&q=Cochin,%20In&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":76.26,"lat":9.94},"weather":[{"id":701,"main":"Mist","description":"mist","icon":"50n"}],"base":"stations","main":{"temp":26.32,"pressure":1011,"humidity":94,"temp_min":24,"temp_max":27.78},"visibility":4000,"wind":{"speed":2.6,"deg":100},"clouds":{"all":75},"dt":1566570462,"sys":{"type":1,"id":9211,"message":0.0063,"country":"IN","sunrise":1566521175,"sunset":1566565779},"timezone":19800,"id":1273874,"name":"Cochin","cod":200}'
  recorded_at: Fri, 23 Aug 2019 14:35:03 GMT
recorded_with: VCR 2.9.3
