---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/box/city?APPID=822dcdbcaa7aed363c501e5b70bd263c&bbox=12,32,15,37,10&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":200,"calctime":0.063551374,"cnt":15,"list":[{"id":2208791,"dt":1566569358,"name":"Yafran","coord":{"Lon":12.53,"Lat":32.06},"main":{"temp":33.48,"temp_min":33.48,"temp_max":33.48,"pressure":1013.85,"sea_level":1013.85,"grnd_level":949.06,"humidity":20},"wind":{"speed":4.59,"deg":10.442},"rain":null,"snow":null,"clouds":{"today":0},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"id":2208485,"dt":1566569358,"name":"Zlitan","coord":{"Lon":14.57,"Lat":32.47},"main":{"temp":28.58,"temp_min":28.58,"temp_max":28.58,"pressure":1014.97,"sea_level":1014.97,"grnd_level":1011.91,"humidity":56},"wind":{"speed":6.11,"deg":56.427},"rain":null,"snow":null,"clouds":{"today":0},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"id":2208425,"dt":1566569358,"name":"Zuwarah","coord":{"Lon":12.08,"Lat":32.93},"main":{"temp":27.88,"temp_min":27[...]
