---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=822dcdbcaa7aed363c501e5b70bd263c&q=Cochin,%20In&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":76.26,"lat":9.94},"weather":[{"id":701,"main":"Mist","description":"mist","icon":"50n"}],"base":"stations","main":{"temp":80.56,"pressure":1012,"humidity":88,"temp_min":77,"temp_max":82},"visibility":3500,"wind":{"speed":2.24,"deg":110},"clouds":{"all":75},"dt":1566572274,"sys":{"type":1,"id":9211,"message":0.0077,"country":"IN","sunrise":1566521175,"sunset":1566565779},"timezone":19800,"id":1273874,"name":"Cochin","cod":200}'
  recorded_at: Fri, 23 Aug 2019 14:57:54 GMT
recorded_with: VCR 2.9.3
