---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/group?APPID=822dcdbcaa7aed363c501e5b70bd263c&id=524901,703448,2643743&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cnt":3,"list":[{"coord":{"lon":37.62,"lat":55.75},"sys":{"country":"RU","timezone":10800,"sunrise":1566526567,"sunset":1566578931},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"main":{"temp":22.86,"pressure":1028,"humidity":46,"temp_min":21,"temp_max":26.11},"visibility":10000,"wind":{"speed":3,"deg":320},"clouds":{"all":0},"dt":1566569282,"id":524901,"name":"Moscow"},{"coord":{"lon":30.52,"lat":50.43},"sys":{"country":"UA","timezone":10800,"sunrise":1566529080,"sunset":1566579825},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"main":{"temp":23.73,"pressure":1026,"humidity":53,"temp_min":23,"temp_max":25},"visibility":10000,"wind":{"speed":6,"deg":10},"clouds":{"all":0},"dt":1566569346,"id":703448,"name":"Kiev"},{"coord":{"lon":-0.13,"lat":51.51},"sys":{"country":"GB","timezone":3600,"sunrise":1566536298,"sunset":1566587317},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"main":{"temp":26.08,"pressure":1023,"humidity":47,"temp_min":23.89,"temp_max":28.33},"visibility":10000,"wind":{"speed":2.6,"deg":140},"clouds":{"all":0},"dt":1566569361,"id":2643743,"name":"London"}]}'
  recorded_at: Fri, 23 Aug 2019 14:35:03 GMT
recorded_with: VCR 2.9.3
