---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?APPID=822dcdbcaa7aed363c501e5b70bd263c&q=Cochin,%20In&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0.0065,"cnt":40,"list":[{"dt":1566583200,"main":{"temp":26.52,"temp_min":26.52,"temp_max":26.57,"pressure":1012.27,"sea_level":1012.27,"grnd_level":1012.42,"humidity":80,"temp_kf":-0.05},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":100},"wind":{"speed":3.46,"deg":239.096},"rain":{"3h":2.938},"sys":{"pod":"n"},"dt_txt":"2019-08-23
        18:00:00"},{"dt":1566594000,"main":{"temp":26.31,"temp_min":26.31,"temp_max":26.35,"pressure":1010.2,"sea_level":1010.2,"grnd_level":1010.43,"humidity":79,"temp_kf":-0.04},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":100},"wind":{"speed":1.77,"deg":230.84},"rain":{"3h":2},"sys":{"pod":"n"},"dt_txt":"2019-08-23
        21:00:00"},{"dt":1566604800,"main":{"temp":25.93,"temp_min":25.93,"temp_max":25.96,"pressure":1009.69,"s[...]
