---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?APPID=822dcdbcaa7aed363c501e5b70bd263c&q=Cochin,%20In&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0.007,"cnt":40,"list":[{"dt":1566583200,"main":{"temp":79.68,"temp_min":79.68,"temp_max":79.83,"pressure":1012.27,"sea_level":1012.27,"grnd_level":1012.42,"humidity":80,"temp_kf":-0.09},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":100},"wind":{"speed":7.74,"deg":239.096},"rain":{"3h":2.938},"sys":{"pod":"n"},"dt_txt":"2019-08-23
        18:00:00"},{"dt":1566594000,"main":{"temp":79.32,"temp_min":79.32,"temp_max":79.43,"pressure":1010.2,"sea_level":1010.2,"grnd_level":1010.43,"humidity":79,"temp_kf":-0.06},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":100},"wind":{"speed":3.96,"deg":230.84},"rain":{"3h":2},"sys":{"pod":"n"},"dt_txt":"2019-08-23
        21:00:00"},{"dt":1566604800,"main":{"temp":78.64,"temp_min":78.64,"temp_max":78.72,"pressure":1009.69,"s[...]
